@media only screen and (min-width: 768px) {
	body,
	body#pagepiling_animation .pp-section {
		.has-animation {
			.opacity-animation {
				opacity: 0;
				visibility: hidden;
			}
			.translate-zoomout-10 {
				transform: scale(0.1);
			}
			.translate-zoomout-20 {
				transform: scale(0.2);
			}
			.translate-zoomout-30 {
				transform: scale(0.3);
			}
			.translate-zoomout-40 {
				transform: scale(0.4);
			}
			.translate-zoomout-50 {
				transform: scale(0.5);
			}
			.translate-left-10 {
				transform: translateX(-10%);
			}
			.translate-left-20 {
				transform: translateX(-20%);
			}
			.translate-left-30 {
				transform: translateX(-30%);
			}
			.translate-left-40 {
				transform: translateX(-40%);
			}
			.translate-left-50 {
				transform: translateX(-50%);
			}
			.translate-left-75 {
				transform: translateX(-75%);
			}
			.translate-left-100 {
				transform: translateX(-100%);
			}
			.translate-right-10 {
				transform: translateX(10%);
			}
			.translate-right-20 {
				transform: translateX(20%);
			}
			.translate-right-30 {
				transform: translateX(30%);
			}
			.translate-right-40 {
				transform: translateX(40%);
			}
			.translate-right-50 {
				transform: translateX(50%);
			}
			.translate-right-75 {
				transform: translateX(75%);
			}
			.translate-right-100 {
				transform: translateX(100%);
			}
			.translate-top-10 {
				transform: translateY(-10%);
			}
			.translate-top-20 {
				transform: translateY(-20%);
			}
			.translate-top-30 {
				transform: translateY(-30%);
			}
			.translate-top-40 {
				transform: translateY(-40%);
			}
			.translate-top-50 {
				transform: translateY(-50%);
			}
			.translate-top-75 {
				transform: translateY(-75%);
			}
			.translate-top-100 {
				transform: translateY(-100%);
			}
			.translate-bottom-10 {
				transform: translateY(10%);
			}
			.translate-bottom-20 {
				transform: translateY(20%);
			}
			.translate-bottom-30 {
				transform: translateY(30%);
			}
			.translate-bottom-40 {
				transform: translateY(40%);
			}
			.translate-bottom-50 {
				transform: translateY(50%);
			}
			.translate-bottom-75 {
				transform: translateY(75%);
			}
			.translate-bottom-100 {
				transform: translateY(100%);
			}
			.translate-bottom-left-10 {
				transform: translateY(10%) translateX(-10%);
			}
			.translate-bottom-left-20 {
				transform: translateY(20%) translateX(-20%);
			}
			.translate-bottom-left-30 {
				transform: translateY(30%) translateX(-30%);
			}
			.translate-bottom-left-40 {
				transform: translateY(40%) translateX(-40%);
			}
			.translate-bottom-left-50 {
				transform: translateY(50%) translateX(-50%);
			}
			.translate-bottom-left-75 {
				transform: translateY(75%) translateX(-75%);
			}
			.translate-bottom-left-100 {
				transform: translateY(100%) translateX(-100%);
			}
			.translate-top-left-10 {
				transform: translateY(-10%) translateX(-10%);
			}
			.translate-top-left-20 {
				transform: translateY(-20%) translateX(-20%);
			}
			.translate-top-left-30 {
				transform: translateY(-30%) translateX(-30%);
			}
			.translate-top-left-40 {
				transform: translateY(-40%) translateX(-40%);
			}
			.translate-top-left-50 {
				transform: translateY(-50%) translateX(-50%);
			}
			.translate-top-left-75 {
				transform: translateY(-75%) translateX(-75%);
			}
			.translate-top-left-100 {
				transform: translateY(-100%) translateX(-100%);
			}
			.translate-top-right-10 {
				transform: translateY(-10%) translateX(10%);
			}
			.translate-top-right-20 {
				transform: translateY(-20%) translateX(20%);
			}
			.translate-top-right-30 {
				transform: translateY(-30%) translateX(30%);
			}
			.translate-top-right-40 {
				transform: translateY(-40%) translateX(40%);
			}
			.translate-top-right-50 {
				transform: translateY(-50%) translateX(50%);
			}
			.translate-top-right-75 {
				transform: translateY(-75%) translateX(75%);
			}
			.translate-top-right-100 {
				transform: translateY(-100%) translateX(100%);
			}
		}

		.transition-10,
		.transition-20,
		.transition-30,
		.transition-40,
		.transition-50,
		.transition-100,
		.transition-150,
		.transition-200,
		.transition-250,
		.transition-300,
		.transition-350,
		.transition-400,
		.transition-450,
		.transition-500,
		.transition-550,
		.transition-600,
		.transition-650,
		.transition-700,
		.transition-750,
		.transition-800,
		.transition-850,
		.transition-900,
		.transition-950,
		.transition-1000 {
			transition: all 0.01s ease-out;
			transition-delay: 0.5s;
		}
	}

	body.loaded,
	body.loaded#pagepiling_animation .pp-section.active {
		.has-animation.active-animation {
			.opacity-animation {
				opacity: 1;
				visibility: visible;
			}
			.translate-zoomout-10,
			.translate-zoomout-20,
			.translate-zoomout-30,
			.translate-zoomout-40,
			.translate-zoomout-50 {
				transform: scale(1);
			}
			.translate-left-10,
			.translate-left-20,
			.translate-left-30,
			.translate-left-40,
			.translate-left-50,
			.translate-left-75,
			.translate-left-100,
			.translate-right-10,
			.translate-right-20,
			.translate-right-30,
			.translate-right-40,
			.translate-right-50,
			.translate-right-75,
			.translate-right-100,
			.translate-top-10,
			.translate-top-20,
			.translate-top-30,
			.translate-top-40,
			.translate-top-50,
			.translate-top-75,
			.translate-top-100,
			.translate-bottom-10,
			.translate-bottom-20,
			.translate-bottom-30,
			.translate-bottom-40,
			.translate-bottom-50,
			.translate-bottom-75,
			.translate-bottom-100,
			.translate-top-left-10,
			.translate-top-left-20,
			.translate-top-left-30,
			.translate-top-left-40,
			.translate-top-left-50,
			.translate-top-left-75,
			.translate-top-left-100,
			.translate-top-right-10,
			.translate-top-right-20,
			.translate-top-right-30,
			.translate-top-right-40,
			.translate-top-right-50,
			.translate-top-right-75,
			.translate-top-right-100,
			.translate-bottom-left-10,
			.translate-bottom-left-20,
			.translate-bottom-left-30,
			.translate-bottom-left-40,
			.translate-bottom-left-50,
			.translate-bottom-left-75,
			.translate-bottom-left-100 {
				transform: translateY(0) translateX(0);
			}
		}

		.transition-10 {
			transition: cubic-bezier(0, 1, 1, 1) 0.1s, opacity 0.3s;
		}

		.transition-20 {
			transition: cubic-bezier(0, 1, 1, 1) 0.2s, opacity 0.3s;
		}

		.transition-30 {
			transition: cubic-bezier(0, 1, 1, 1) 0.3s, opacity 0.3s;
		}

		.transition-40 {
			transition: cubic-bezier(0, 1, 1, 1) 0.4s, opacity 0.3s;
		}

		.transition-50 {
			transition: cubic-bezier(0, 1, 1, 1) 0.5s, opacity 0.3s;
		}

		.transition-100 {
			transition: cubic-bezier(0, 1, 1, 1) 1s, opacity 0.3s;
		}

		.transition-150 {
			transition: cubic-bezier(0, 1, 1, 1) 1.5s, opacity 0.3s;
		}

		.transition-200 {
			transition: cubic-bezier(0, 1, 1, 1) 2s, opacity 0.3s;
		}

		.transition-250 {
			transition: cubic-bezier(0, 1, 1, 1) 2.5s, opacity 0.3s;
		}

		.transition-300 {
			transition: cubic-bezier(0, 1, 1, 1) 3s, opacity 0.3s;
		}

		.transition-350 {
			transition: cubic-bezier(0, 1, 1, 1) 3.5s, opacity 0.3s;
		}

		.transition-400 {
			transition: cubic-bezier(0, 1, 1, 1) 4s, opacity 0.3s;
		}

		.transition-450 {
			transition: cubic-bezier(0, 1, 1, 1) 4.5s, opacity 0.3s;
		}

		.transition-500 {
			transition: cubic-bezier(0, 1, 1, 1) 5s, opacity 0.3s;
		}

		.transition-550 {
			transition: cubic-bezier(0, 1, 1, 1) 5.5s, opacity 0.3s;
		}

		.transition-600 {
			transition: cubic-bezier(0, 1, 1, 1) 6s, opacity 0.3s;
		}

		.transition-650 {
			transition: cubic-bezier(0, 1, 1, 1) 6.5s, opacity 0.3s;
		}

		.transition-700 {
			transition: cubic-bezier(0, 1, 1, 1) 7s, opacity 0.3s;
		}

		.transition-750 {
			transition: cubic-bezier(0, 1, 1, 1) 7.5s, opacity 0.3s;
		}

		.transition-800 {
			transition: cubic-bezier(0, 1, 1, 1) 8s, opacity 0.3s;
		}

		.transition-850 {
			transition: cubic-bezier(0, 1, 1, 1) 8.5s, opacity 0.3s;
		}

		.transition-900 {
			transition: cubic-bezier(0, 1, 1, 1) 9s, opacity 0.3s;
		}

		.transition-950 {
			transition: cubic-bezier(0, 1, 1, 1) 9.5s, opacity 0.3s;
		}

		.transition-1000 {
			transition: cubic-bezier(0, 1, 1, 1) 10s, opacity 0.3s;
		}

		.transition-delay-0 {
			transition-delay: 0s;
		}

		.transition-delay-10 {
			transition-delay: 0.01s;
		}

		.transition-delay-20 {
			transition-delay: 0.02s;
		}

		.transition-delay-30 {
			transition-delay: 0.03s;
		}

		.transition-delay-40 {
			transition-delay: 0.04s;
		}

		.transition-delay-50 {
			transition-delay: 0.05s;
		}

		.transition-delay-100 {
			transition-delay: 0.1s;
		}

		.transition-delay-200 {
			transition-delay: 0.2s;
		}

		.transition-delay-300 {
			transition-delay: 0.3s;
		}

		.transition-delay-400 {
			transition-delay: 0.4s;
		}

		.transition-delay-500 {
			transition-delay: 0.5s;
		}

		.transition-delay-600 {
			transition-delay: 0.6s;
		}

		.transition-delay-700 {
			transition-delay: 0.7s;
		}

		.transition-delay-800 {
			transition-delay: 0.8s;
		}

		.transition-delay-900 {
			transition-delay: 0.9s;
		}

		.transition-delay-1000 {
			transition-delay: 1s;
		}

		.transition-delay-1100 {
			transition-delay: 1.1s;
		}

		.transition-delay-1200 {
			transition-delay: 1.2s;
		}

		.transition-delay-1300 {
			transition-delay: 1.3s;
		}

		.transition-delay-1400 {
			transition-delay: 1.4s;
		}

		.transition-delay-1500 {
			transition-delay: 1.5s;
		}

		.transition-delay-1600 {
			transition-delay: 1.6s;
		}

		.transition-delay-1700 {
			transition-delay: 1.7s;
		}

		.transition-delay-1800 {
			transition-delay: 1.8s;
		}

		.transition-delay-1900 {
			transition-delay: 1.9s;
		}

		.transition-delay-2000 {
			transition-delay: 2s;
		}

		.transition-delay-2100 {
			transition-delay: 2.1s;
		}

		.transition-delay-2200 {
			transition-delay: 2.2s;
		}

		.transition-delay-2300 {
			transition-delay: 2.3s;
		}

		.transition-delay-2400 {
			transition-delay: 2.4s;
		}

		.transition-delay-2500 {
			transition-delay: 2.5s;
		}

		.transition-delay-2600 {
			transition-delay: 2.6s;
		}

		.transition-delay-2700 {
			transition-delay: 2.7s;
		}

		.transition-delay-2800 {
			transition-delay: 2.8s;
		}

		.transition-delay-2900 {
			transition-delay: 2.9s;
		}

		.transition-delay-3000 {
			transition-delay: 3s;
		}

		.transition-delay-3100 {
			transition-delay: 3.1s;
		}

		.transition-delay-3200 {
			transition-delay: 3.2s;
		}

		.transition-delay-3300 {
			transition-delay: 3.3s;
		}

		.transition-delay-3400 {
			transition-delay: 3.4s;
		}

		.transition-delay-3500 {
			transition-delay: 3.5s;
		}

		.transition-delay-3600 {
			transition-delay: 3.6s;
		}

		.transition-delay-3700 {
			transition-delay: 3.7s;
		}

		.transition-delay-3800 {
			transition-delay: 3.8s;
		}

		.transition-delay-3900 {
			transition-delay: 3.9s;
		}

		.transition-delay-4000 {
			transition-delay: 4s;
		}

		.transition-delay-4100 {
			transition-delay: 4.1s;
		}

		.transition-delay-4200 {
			transition-delay: 4.2s;
		}

		.transition-delay-4300 {
			transition-delay: 4.3s;
		}

		.transition-delay-4400 {
			transition-delay: 4.4s;
		}

		.transition-delay-4500 {
			transition-delay: 4.5s;
		}

		.transition-delay-4600 {
			transition-delay: 4.6s;
		}

		.transition-delay-4700 {
			transition-delay: 4.7s;
		}

		.transition-delay-4800 {
			transition-delay: 4.8s;
		}

		.transition-delay-4900 {
			transition-delay: 4.9s;
		}

		.transition-delay-5000 {
			transition-delay: 5s;
		}

		.transition-delay-5100 {
			transition-delay: 5.1s;
		}

		.transition-delay-5200 {
			transition-delay: 5.2s;
		}

		.transition-delay-5300 {
			transition-delay: 5.3s;
		}

		.transition-delay-5400 {
			transition-delay: 5.4s;
		}

		.transition-delay-5500 {
			transition-delay: 5.5s;
		}

		.transition-delay-5600 {
			transition-delay: 5.6s;
		}

		.transition-delay-5700 {
			transition-delay: 5.7s;
		}

		.transition-delay-5800 {
			transition-delay: 5.8s;
		}

		.transition-delay-5900 {
			transition-delay: 5.9s;
		}

		.transition-delay-6000 {
			transition-delay: 6s;
		}
	}

}

.has-animation {
	.process-box-layout1 {
		.content-holder {
			li {
				.dashed1 {
	  				stroke-dashoffset: 1500;
				}
			}
		}
	}
}

.has-animation.active-animation {
	.process-box-layout1 {
		.content-holder {
			li {
				&:nth-child(1n) .dashed1 {
				    animation-delay: 2s;
				}
				&:nth-child(2n) .dashed1 {
				    animation-delay: 3s;
				}
			}
			.dashed1 {
				animation: dash_fill_1500 2s linear forwards;
			}
		}
	}
}

@keyframes dash_fill_1500 {
	from {
		stroke-dashoffset: 1500;
	}
	to {
		stroke-dashoffset: 0;
	}
}

.has-animation {
	.indicator-wrap {
		.dash-left {
			.dashed1 {
				stroke-dashoffset: 872;
			}
		}
		.dash-right {
			.dashed1 {
				stroke-dashoffset: 872;
			}
		}
		.dashed1 {
			stroke-dasharray: 872;
		}
		.dashed2 {
			stroke-dasharray: 4;
		}
		@keyframes dash_animation {
			to {
				stroke-dashoffset: 0;
			}
		}
	}
}

.has-animation.active-animation {
	.indicator-wrap {
		.dashed1 {
			animation: dash_animation 1.5s linear forwards;
			animation-delay: 1s;
		}
	}
}

@media only screen and (min-width: 768px) {
	.has-animation.footer-wrap-layout2 {
		background-position: rem(center 500px);
		transition: all 2s ease-in-out;
	}
	.has-animation.active-animation.footer-wrap-layout2 {
		background-position: center bottom;
	}
}









